<div class="content">
  <div class="left">
    <div class="buttons">
      <button
        type="button"
        class="btn btn-primary btn-lg btn2 btn-dark"
        (click)="load('fib')"
      >
        FIB
      </button>
      <button
        type="button"
        class="btn btn-primary btn-lg btn2 btn-dark"
        (click)="load('mcq')"
      >
        MCQ
      </button>
      <button
        type="button"
        class="btn btn-primary btn-lg btn2 btn-dark"
        (click)="load('brief')"
      >
        Brief
      </button>
      <button
        type="button"
        class="btn btn-primary btn-lg btn2 btn-dark"
        (click)="load('code')"
      >
        Code
      </button>
    </div>
    <hr />
    <ng-template #blank></ng-template>

    <ng-template #fib>
      <div class="fib">
        <form (submit)="fibsubmit($event, question)">
          <p>{{ question.question }}</p>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Answer"
              aria-label="Answer"
              aria-describedby="basic-addon1"
              id="ans"
            />
          </div>
          <span style="position: absolute;right:0;bottom:0;margin:10px;"
            ><button type="submit" class="btn btn-primary">Submit</button></span
          >
        </form>
      </div>
    </ng-template>
    <ng-template #mcq>
      <div class="mcq">
        <form (submit)="mcqsubmit($event, question)">
          <p>{{ question.question }}</p>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="{{ question.op1 }}"
            />
            <label class="form-check-label" for="inlineRadio1">{{
              question.op1
            }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="{{ question.op2 }}"
            />
            <label class="form-check-label" for="inlineRadio2">{{
              question.op2
            }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="{{ question.op3 }}"
            />
            <label class="form-check-label" for="inlineRadio3">{{
              question.op3
            }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="{{ question.op4 }}"
            />
            <label class="form-check-label" for="inlineRadio4">{{
              question.op4
            }}</label>
          </div>
          <span style="position: absolute;right:0;bottom:0;margin:10px;"
            ><button type="submit" class="btn btn-primary">Submit</button></span
          >
        </form>
      </div>
    </ng-template>
    <ng-template #brief>
      <div class="brief">
        <form (submit)="briefsubmit($event, question)">
          <p>{{ question.question }}</p>

          <div class="input-group">
            <textarea
              class="form-control"
              aria-label="With textarea"
              id="answer"
              rows="10"
            ></textarea>
          </div>
          <span style="position: absolute;right:0;bottom:0;margin:10px;"
            ><button type="submit" class="btn btn-primary">Submit</button></span
          >
        </form>
      </div>
    </ng-template>
    <ng-template #code>
      <p>{{ question.question }}</p>
      <iframe src="http://localhost:3000/codeeditor" frameborder="1"></iframe>
      <!-- <form (submit)="codeRun($event, question)">
        <div class="main-editor">
          <div class="first" contenteditable>
            write code Here
          </div>
          <div class="second" [innerHtml]="execode"></div>
          <div class="buttons-code">
            <button class="btn-run btn btn-success" type="submit">Run</button>
            <button
              class="btn-submit btn btn-primary"
              (click)="submitCode($event)"
            >
              Submit
            </button>
          </div>
        </div>
      </form> -->
    </ng-template>
    <div class="main">
      <span [ngSwitch]="toggleques">
        <div *ngSwitchCase="'fib'">
          <div *ngIf="question != ''; then fib; else blank"></div>
        </div>
        <div *ngSwitchCase="'mcq'" class="mcq">
          <div *ngIf="question != ''; then mcq; else blank"></div>
        </div>
        <div *ngSwitchCase="'brief'" class="brief">
          <div *ngIf="question != ''; then brief; else blank"></div>
        </div>
        <div *ngSwitchCase="'code'" class="code">
          <div *ngIf="question != ''; then code; else blank"></div>
        </div>
        <div *ngSwitchDefault></div>
      </span>
    </div>
  </div>
  <div class="right">
    <div class="right-top">
      <h3>About</h3>
      <div class="about">
        Name: {{ userdata.name }}
        <br />
        Roll no: {{ userdata.rollno }}
        <br />
        Email: {{ userdata.email }}
      </div>
    </div>
    <div class="right-bottom">
      <div>
        <label>Questions</label>
        <div class="list-group" *ngFor="let q of currsection; let i = index">
          <div class="questionitem">
            <span
              class="list-group-item list-group-item-action"
              (click)="quesClick(q)"
            >
              <button
                type="button"
                class="btn btn-primary btn-lg btn-dark btn-block"
              >
                {{ i + 1 }}
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
