<div class="content">
  <div class="left">
    <div class="buttons">
      <button
        type="button"
        class="btn btn-primary btn-lg btn2 btn-dark"
        (click)="load('fib')"
      >
        FIB
      </button>
      <button
        type="button"
        class="btn btn-primary btn-lg btn2 btn-dark"
        (click)="load('mcq')"
      >
        MCQ
      </button>
      <button
        type="button"
        class="btn btn-primary btn-lg btn2 btn-dark"
        (click)="load('brief')"
      >
        Brief
      </button>
      <button
        type="button"
        class="btn btn-primary btn-lg btn2 btn-dark"
        (click)="load('code')"
      >
        Code
      </button>
    </div>
    <hr />
    <ng-template #blank></ng-template>

    <ng-template #fib>
      <div class="fib">
        <form (submit)="fibsubmit($event, question)">
          <p>{{ question.question }}</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Answer</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
              id="ans"
            />
          </div>
          <span style="position: absolute;right:0;bottom:0;margin:10px;"
            ><button type="submit" class="btn btn-primary">Submit</button></span
          >
        </form>
      </div>
    </ng-template>

    <div class="main">
      <span [ngSwitch]="toggleques">
        <div *ngSwitchCase="'fib'">
          <div *ngIf="question != ''; then fib; else blank"></div>
        </div>
        <div *ngSwitchCase="'mcq'" class="mcq">{{ question }}</div>
        <div *ngSwitchCase="'brief'" class="brief">{{ question }}</div>
        <div *ngSwitchCase="'code'" class="code">{{ question }}</div>
        <div *ngSwitchDefault></div>
      </span>
    </div>
  </div>
  <div class="right">
    <div class="right-top">
      <h3>About</h3>
      <div class="about">
        Name: {{ userdata.name }}
        <br />
        Roll no: {{ userdata.rollno }}
        <br />
        Email: {{ userdata.email }}
      </div>
    </div>
    <div class="right-bottom">
      <div>
        <label>Questions</label>
        <div class="list-group" *ngFor="let q of currsection; let i = index">
          <div class="questionitem">
            <span
              class="list-group-item list-group-item-action"
              (click)="quesClick(q)"
            >
              <button
                type="button"
                class="btn btn-primary btn-lg btn-dark btn-block"
              >
                {{ i + 1 }}
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
